<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <title>忘记密码</title>
  <#include "/_auth_head.html">
</head>
<body class="${bodyClass!'login-page-v2'}" data-ctx="${request.contextPath?js_string}">
<div id="rrapp" class="login-shell" v-cloak>
  <div class="login-brand">
    <div class="login-brand-icon"><i class="fa fa-key"></i></div>
    <h1>重置密码</h1>
    <p>通过账号验证后设置新密码</p>
  </div>
  <div class="login-card">
    <div class="login-body">
      <!--<#if !(forgotPasswordEnabled?? && forgotPasswordEnabled)>-->
      <#assign closedTitle="暂未开放密码重置">
      <#assign closedDesc="管理员已关闭自助重置密码功能，如需找回密码请联系系统管理员。">
      <#include "/_auth_closed.html">
      <!--<#else>-->
      <div v-if="error" class="alert alert-danger login-alert">
        <i class="fa fa-exclamation-circle"></i> {{ errorMsg }}
      </div>
      <div v-if="success" class="alert alert-success login-alert login-alert-success">
        <i class="fa fa-check-circle"></i> 密码已重置，请使用新密码登录
      </div>
      <div class="login-panel" v-if="!success">
        <div class="form-group has-feedback">
          <input type="text" class="form-control" v-model="account" placeholder="注册时的手机号、邮箱或用户名" autocomplete="username">
          <span class="glyphicon glyphicon-user form-control-feedback"></span>
        </div>
        <p class="field-tip">请输入您注册时使用的账号</p>
        <div class="form-group has-feedback">
          <input type="password" class="form-control" v-model="password" placeholder="设置新密码（至少6位）" autocomplete="new-password">
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
          <input type="password" class="form-control" v-model="confirmPassword" placeholder="再次输入新密码" autocomplete="new-password" @keyup.enter="submit">
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <p class="field-hint" v-if="passwordMismatch">两次输入的密码不一致</p>
        <div class="form-group captcha-row">
          <div class="form-group has-feedback">
            <input type="text" class="form-control" v-model="captcha" placeholder="验证码" @keyup.enter="submit">
          </div>
          <img alt="点击刷新验证码" :src="src" @click="refreshCode" title="点击刷新">
        </div>
        <button type="button" class="btn btn-primary btn-block btn-login" :disabled="submitting" @click="submit">
          {{ submitting ? '提交中...' : '确认重置' }}
        </button>
        <div class="auth-nav">
          <a :href="ctx + '/login.html'">返回登录</a>
          <!--<#if registerEnabled?? && registerEnabled>-->
          <span class="auth-nav-sep">|</span>
          <a :href="ctx + '/register.html'">注册账号</a>
          <!--</#if>-->
        </div>
      </div>
      <div class="auth-success-action" v-else>
        <a :href="ctx + '/login.html'" class="btn btn-primary btn-login btn-login-link">去登录</a>
      </div>
      <!--</#if>-->
    </div>
  </div>
  <div class="login-footer">&copy; ${siteName!'Autumn Framework'}</div>
</div>
<!--<#if forgotPasswordEnabled?? && forgotPasswordEnabled>-->
<script src="${request.contextPath}/statics/libs/jquery.min.js"></script>
<script src="${request.contextPath}/statics/libs/vue.min.js"></script>
<script src="${request.contextPath}/statics/js/login-auth.js"></script>
<script src="${request.contextPath}/statics/js/forgotpassword.js?_${.now?long}"></script>
<!--</#if>-->
</body>
</html>
