<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>人机检测</title>
  <style>
    .container {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .submit {
      height: 60px;
      width: 200px;
      font-size: 40px;
      margin-top: 100px;
    }

    .icon {
      display: inline-block;
      fill: var(--cb-color-text-brand, #ff6a00);
      margin-top: -1px;
      height: 40px;
      width: 80px;
      margin-top: 100px;
    }
  </style>
</head>
<body>
<form class="container" action="/shield/test" method="POST">
  <svg class="icon">
    <path d="M21.4 22.4h21.2v-4.8H21.4z"
          data-spm-anchor-id="5176.2020520102.console-base_top-nav.i0.51e31eb9LNAfzA"></path>
    <path d="M53.3 0H39.2l3.4 4.8L52.9 8c1.9.6 3.1 2.3 3.1 4.3v15.4c0 2-1.2 3.7-3.1 4.3l-10.3 3.2-3.4 4.8h14.1c6 0 10.7-4.8 10.7-10.7V10.7C64 4.7 59.2 0 53.3 0M10.7 0h14.1l-3.4 4.8L11.1 8A4.5 4.5 0 0 0 8 12.3v15.4c0 2 1.2 3.7 3.1 4.3l10.3 3.2 3.4 4.8H10.7C4.7 40 0 35.2 0 29.3V10.7C0 4.7 4.8 0 10.7 0"></path>
  </svg>
  <input type="submit" class="submit" value="人机检测">
</form>
</body>
</html>
