version: '3'
services:
  web:
    build: ./web
    container_name: autumn
    environment:
      - "--spring.profiles.active=dev"
    ports:
      - "80:80"
    volumes:
      - "./.storage/web/tmp:/tmp"
    depends_on:
      - db
      - redis
    links:
      - "db:database"
  db:
    image: mysql:5.7
    restart: always
    container_name: mysql
    environment:
      MYSQL_USER: autumn
      MYSQL_PASSWORD: autumn
      MYSQL_DATABASE: autumn
      MYSQL_ROOT_PASSWORD: 123456
    ports:
      - '3306:3306'
    volumes:
      - "./.storage/mysql/data:/var/lib/mysql"
      - "./.storage/mysql/my.cnf:/etc/my.cnf"
    command: '--default-time-zone=+8:00'
  redis:
    image: redis
    restart: always
    container_name: redis
    command: --appendonly yes --requirepass autumn
    ports:
      - 6379:6379
    volumes:
      - "./.storage/redis:/data"