package ${package}.${moduleName}.dao;

import ${package}.${moduleName}.entity.${className}Entity;
import com.baomidou.mybatisplus.mapper.BaseMapper;
import org.apache.ibatis.annotations.Mapper;
import org.springframework.stereotype.Repository;

/**
 * ${comment}
 * 
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@Mapper
@Repository
public interface ${className}Dao extends BaseMapper<${className}Entity> {
	
}
