package ${package}.${moduleName}.entity;

import com.baomidou.mybatisplus.annotations.*;
import cn.org.autumn.table.annotation.*;
import cn.org.autumn.table.data.DataType;

#if(${hasBigDecimal})
import java.math.BigDecimal;
#end

import java.io.Serializable;
import java.util.Date;

/**
 * ${comment}
 * 
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
${index}
@TableName("${tableName}")
@Table(value = "${tableName}", comment = "${comment}")
public class ${className}Entity implements Serializable {
	private static final long serialVersionUID = 1L;

#foreach ($column in $columns)
	/**
	 * $column.comment
	 */
#if($column.name == $pk.name)
	@TableId
#end
	$column.genAnnotation
	private $column.attrType $column.attrname;
#end

#foreach ($column in $columns)
	/**
	 * 设置：${column.comment}
	 */
	public void set${column.attrName}($column.attrType $column.attrname) {
		this.$column.attrname = $column.attrname;
	}
	/**
	 * 获取：${column.comment}
	 */
	public $column.attrType get${column.attrName}() {
		return $column.attrname;
	}
#end
}
