package ${package}.${moduleName}.site;

import cn.org.autumn.menu.Menu;
import cn.org.autumn.base.ModuleMenu;
import org.springframework.stereotype.Service;

/**
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@Service
@Menu(name = "${moduleText}", order = ${moduleOrder}, ico = "${moduleIcon}")
public class ${upperModuleName}Menu extends ModuleMenu {

}