package ${package}.${moduleName}.service;

import ${package}.${moduleName}.service.gen.${upperModuleName}MenuGen;
import org.springframework.stereotype.Service;

/**
 * ${comment}
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@Service
public class ${upperModuleName}Menu extends ${upperModuleName}MenuGen {

    @Override
    protected String order() {
        return super.order();
    }

    @Override
    public String ico() {
        return super.ico();
    }

    @Override
    public String getMenu() {
        return super.getMenu();
    }

    @Override
    public String getParentMenu() {
        return super.getParentMenu();
    }

    @Override
    public void init() {
        super.init();
    }

    public String[][] getLanguageItems() {
        return null;
    }
}
