package ${package}.${moduleName}.service;

import ${package}.${moduleName}.service.gen.${className}ServiceGen;
import org.springframework.stereotype.Service;

@Service
public class ${className}Service extends ${className}ServiceGen {

    public int menuOrder(){
        return 0;
    }

    public int parentMenu(){
        return 1;
    }

    private String ico(){
        return "fa-file-code-o";
    }
}
