package ${package}.${moduleName}.service;

import ${package}.${moduleName}.service.gen.${className}ServiceGen;
import org.springframework.stereotype.Service;

@Service
public class ${className}Service extends ${className}ServiceGen {

    @Override
    public int menuOrder(){
        return super.menuOrder();
    }

    @Override
    public String ico(){
        return super.ico();
    }
}
