package ${package}.${moduleName}.service.gen;

import cn.org.autumn.site.InitFactory;
import cn.org.autumn.service.BaseService;
import org.springframework.beans.factory.annotation.Autowired;
import java.util.List;
import cn.org.autumn.modules.${moduleName}.service.${upperModuleName}Menu;
import ${package}.${moduleName}.dao.${className}Dao;
import ${package}.${moduleName}.entity.${className}Entity;
import cn.org.autumn.modules.sys.entity.SysMenuEntity;
import cn.org.autumn.modules.sys.service.SysMenuService;
import cn.org.autumn.modules.lan.service.Language;
import cn.org.autumn.modules.lan.service.LanguageService;

/**
 * ${comment}控制器
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
public class ${className}ServiceGen extends BaseService<${className}Dao, ${className}Entity> implements InitFactory.Init {

    @Autowired
    protected ${upperModuleName}Menu ${moduleName}Menu;

    @Autowired
    protected SysMenuService sysMenuService;

    @Autowired
    protected Language language;

    @Autowired
    protected LanguageService languageService;

    /**
    * need implement it in the subclass.
    * @return
    */
    public int menuOrder(){
        return 0;
    }

    /**
    * need implement it in the subclass.
    * @return
    */
    public String parentMenu(){
        ${moduleName}Menu.init();
        SysMenuEntity sysMenuEntity = sysMenuService.getByMenuKey(${moduleName}Menu.getMenu());
        if(null != sysMenuEntity)
            return sysMenuEntity.getMenuKey();
        return "";
    }

    public String menu() {
        String menu = SysMenuService.getMenuKey("${upperModuleName}", "${className}");
        return menu;
    }

    public String button(String button) {
        String menu = menu() + button;
        return menu;
    }

    public String ico(){
        return "fa-file-code-o";
    }

    protected String order(){
        return String.valueOf(menuOrder());
    }

    public void init() {
        sysMenuService.put(getMenuItemsInternal(), getMenuItems(), getMenuList());
        language.put(getLanguageItemsInternal(), getLanguageItems(), getLanguageList());
    }

    public List<String[]> getLanguageList() {
        return null;
    }

    public String[][] getLanguageItems() {
        return null;
    }

    private String[][] getLanguageItemsInternal() {
        String[][] items = new String[][]{
                {"${moduleName}_${pathName}_table_comment", "$comment", "$enLang"},
        #foreach ($column in $columns)
                {"${moduleName}_${pathName}_column_$column.name", "$column.comment", "$column.enLang"},
        #end
        };
        return items;
    }

    public List<String[]> getMenuList() {
        return null;
    }

    public String[][] getMenuItems() {
        return null;
    }

    private String[][] getMenuItemsInternal() {
        String[][] menus = new String[][]{
                //{0:菜单名字,1:URL,2:权限,3:菜单类型,4:ICON,5:排序,6:MenuKey,7:ParentKey,8:Language}
                {"${comment}", "modules/${moduleName}/${pathName}", "${moduleName}:${pathName}:list,${moduleName}:${pathName}:info,${moduleName}:${pathName}:save,${moduleName}:${pathName}:update,${moduleName}:${pathName}:delete", "1", "fa " + ico(), order(), menu(), parentMenu(), "${moduleName}_${pathName}_table_comment"},
                {"查看", null, "${moduleName}:${pathName}:list,${moduleName}:${pathName}:info", "2", null, order(), button("List"), menu(), "sys_string_lookup"},
                {"新增", null, "${moduleName}:${pathName}:save", "2", null, order(), button("Save"), menu(), "sys_string_add"},
                {"修改", null, "${moduleName}:${pathName}:update", "2", null, order(), button("Update"), menu(), "sys_string_change"},
                {"删除", null, "${moduleName}:${pathName}:delete", "2", null, order(), button("Delete"), menu(), "sys_string_delete"},
        };
        return menus;
    }
}
