package ${package}.${moduleName}.service;

import cn.org.autumn.base.ModuleService;
import org.springframework.stereotype.Service;
import ${package}.${moduleName}.dao.${className}Dao;
import ${package}.${moduleName}.entity.${className}Entity;

@Service
public class ${className}Service extends ModuleService<${className}Dao, ${className}Entity> {

}
