<!DOCTYPE html>
<html>
<head>
    <title>发送验证码</title>
		<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
			<#if shiro.hasPermission("sms:aliyunsmssend:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>
			<#if shiro.hasPermission("sms:aliyunsmssend:update")>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</#if>
			<#if shiro.hasPermission("sms:aliyunsmssend:delete")>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
														                    <div class="form-group">
                        <div class="col-sm-2 control-label">验证码</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="aliyunSmsSend.code" placeholder="验证码"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">结果码</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="aliyunSmsSend.resultCode" placeholder="结果码"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">消息</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="aliyunSmsSend.message" placeholder="消息"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">请求ID</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="aliyunSmsSend.requestId" placeholder="请求ID"/>
                        </div>
                    </div>
							            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>

<script src="${request.contextPath}/statics/js/modules/sms/aliyunsmssend.js?_${.now?long}"></script>
</body>
</html>