<!DOCTYPE html>
<html>
<head>
    <title>${lang.usr_usertoken_table_comment}</title>
	<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
			<#if shiro.hasPermission("usr:usertoken:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;${lang.sys_string_add}</a>
			</#if>
			<#if shiro.hasPermission("usr:usertoken:update")>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;${lang.sys_string_change}</a>
			</#if>
			<#if shiro.hasPermission("usr:usertoken:delete")>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;${lang.sys_string_delete}</a>
			</#if>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-2 control-label">${lang.usr_usertoken_column_user_id}</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="userToken.userId" placeholder="${lang.usr_usertoken_column_user_id}"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">${lang.usr_usertoken_column_token}</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="userToken.token" placeholder="${lang.usr_usertoken_column_token}"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">${lang.usr_usertoken_column_refresh_token}</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="userToken.refreshToken" placeholder="${lang.usr_usertoken_column_refresh_token}"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">${lang.usr_usertoken_column_expire_time}</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="userToken.expireTime" placeholder="${lang.usr_usertoken_column_expire_time}"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">${lang.usr_usertoken_column_update_time}</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="userToken.updateTime" placeholder="${lang.usr_usertoken_column_update_time}"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="${lang.sys_string_confirm}"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="${lang.sys_string_back}"/>
            </div>
        </form>
    </div>
</div>
<script src="${request.contextPath}/modules/usr/usertoken.js?_${.now?long}"></script>
</body>
</html>