<!DOCTYPE html>
<html>
<head>
    <title>${lang.usr_userloginlog_table_comment}</title>
	<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
			<!--<#if shiro.hasPermission("usr:userloginlog:save")>-->
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;${lang.sys_string_add}</a>
			<!--</#if>-->
			<!--<#if shiro.hasPermission("usr:userloginlog:update")>-->
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;${lang.sys_string_change}</a>
			<!--</#if>-->
			<!--<#if shiro.hasPermission("usr:userloginlog:delete")>-->
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;${lang.sys_string_delete}</a>
			<!--</#if>-->
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-2 control-label">${lang.usr_userloginlog_column_uuid}</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="userLoginLog.uuid" placeholder="${lang.usr_userloginlog_column_uuid}"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">${lang.usr_userloginlog_column_account}</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="userLoginLog.account" placeholder="${lang.usr_userloginlog_column_account}"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">${lang.usr_userloginlog_column_way}</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="userLoginLog.way" placeholder="${lang.usr_userloginlog_column_way}"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">${lang.usr_userloginlog_column_host}</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="userLoginLog.host" placeholder="${lang.usr_userloginlog_column_host}"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">${lang.usr_userloginlog_column_ip}</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="userLoginLog.ip" placeholder="${lang.usr_userloginlog_column_ip}"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">${lang.usr_userloginlog_column_session}</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="userLoginLog.session" placeholder="${lang.usr_userloginlog_column_session}"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">${lang.usr_userloginlog_column_path}</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="userLoginLog.path" placeholder="${lang.usr_userloginlog_column_path}"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">${lang.usr_userloginlog_column_agent}</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="userLoginLog.agent" placeholder="${lang.usr_userloginlog_column_agent}"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">${lang.usr_userloginlog_column_white}</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="userLoginLog.white" placeholder="${lang.usr_userloginlog_column_white}"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">${lang.usr_userloginlog_column_logout}</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="userLoginLog.logout" placeholder="${lang.usr_userloginlog_column_logout}"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">${lang.usr_userloginlog_column_allow}</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="userLoginLog.allow" placeholder="${lang.usr_userloginlog_column_allow}"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">${lang.usr_userloginlog_column_reason}</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="userLoginLog.reason" placeholder="${lang.usr_userloginlog_column_reason}"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">${lang.usr_userloginlog_column_create}</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="userLoginLog.create" placeholder="${lang.usr_userloginlog_column_create}"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="${lang.sys_string_confirm}"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="${lang.sys_string_back}"/>
            </div>
        </form>
    </div>
</div>
<script src="${request.contextPath}/modules/usr/userloginlog.js?_${.now?long}"></script>
</body>
</html>