<!DOCTYPE html>
<html>
<head>
    <title>${lang.bot_robot_table_comment}</title>
	<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
			<!--<#if shiro.hasPermission("bot:robot:save")>-->
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;${lang.sys_string_add}</a>
			<!--</#if>-->
			<!--<#if shiro.hasPermission("bot:robot:update")>-->
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;${lang.sys_string_change}</a>
			<!--</#if>-->
			<!--<#if shiro.hasPermission("bot:robot:delete")>-->
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;${lang.sys_string_delete}</a>
			<!--</#if>-->
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-2 control-label">${lang.bot_robot_column_uuid}</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="robot.uuid" placeholder="${lang.bot_robot_column_uuid}"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">${lang.bot_robot_column_owner}</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="robot.owner" placeholder="${lang.bot_robot_column_owner}"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">${lang.bot_robot_column_nickname}</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="robot.nickname" placeholder="${lang.bot_robot_column_nickname}"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">${lang.bot_robot_column_description}</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="robot.description" placeholder="${lang.bot_robot_column_description}"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">${lang.bot_robot_column_icon}</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="robot.icon" placeholder="${lang.bot_robot_column_icon}"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">${lang.bot_robot_column_hash}</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="robot.hash" placeholder="${lang.bot_robot_column_hash}"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">${lang.bot_robot_column_status}</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="robot.status" placeholder="${lang.bot_robot_column_status}"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">${lang.bot_robot_column_access}</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="robot.access" placeholder="${lang.bot_robot_column_access}"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">${lang.bot_robot_column_black}</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="robot.black" placeholder="${lang.bot_robot_column_black}"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">${lang.bot_robot_column_scopes}</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="robot.scopes" placeholder="${lang.bot_robot_column_scopes}"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">${lang.bot_robot_column_create_time}</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="robot.createTime" placeholder="${lang.bot_robot_column_create_time}"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">${lang.bot_robot_column_update_time}</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="robot.updateTime" placeholder="${lang.bot_robot_column_update_time}"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">${lang.bot_robot_column_delete_time}</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="robot.deleteTime" placeholder="${lang.bot_robot_column_delete_time}"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">${lang.bot_robot_column_destroy_time}</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="robot.destroyTime" placeholder="${lang.bot_robot_column_destroy_time}"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">${lang.bot_robot_column_last_used_time}</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="robot.lastUsedTime" placeholder="${lang.bot_robot_column_last_used_time}"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="${lang.sys_string_confirm}"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="${lang.sys_string_back}"/>
            </div>
        </form>
    </div>
</div>
<script src="${request.contextPath}/modules/bot/robot.js?_${.now?long}"></script>
</body>
</html>