<!DOCTYPE html>
<html>
<head>
<title>${lang.sys_string_system_log}</title>
<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
	<div>
		<div class="grid-btn">
			<div class="form-group col-sm-2">
				<input type="text" class="form-control" v-model="q.key" @keyup.enter="query" placeholder="${lang.sys_string_query_username}">
			</div>
			<a class="btn btn-default" @click="query">${lang.sys_string_query}</a>
		</div>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>
    
</div>

<script src="${request.contextPath}/modules/sys/log.js?_${.now?long}"></script>
</body>
</html>