<!DOCTYPE html>
<html>
<head>
    <title>${lang.db_databasebackup_table_comment}</title>
	<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
			<!--<#if shiro.hasPermission("db:databasebackup:save")>-->
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;${lang.sys_string_add}</a>
			<!--</#if>-->
			<!--<#if shiro.hasPermission("db:databasebackup:update")>-->
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;${lang.sys_string_change}</a>
			<!--</#if>-->
			<!--<#if shiro.hasPermission("db:databasebackup:delete")>-->
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;${lang.sys_string_delete}</a>
			<!--</#if>-->
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-2 control-label">${lang.db_databasebackup_column_strategy_id}</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="databaseBackup.strategyId" placeholder="${lang.db_databasebackup_column_strategy_id}"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">${lang.db_databasebackup_column_filename}</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="databaseBackup.filename" placeholder="${lang.db_databasebackup_column_filename}"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">${lang.db_databasebackup_column_filepath}</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="databaseBackup.filepath" placeholder="${lang.db_databasebackup_column_filepath}"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">${lang.db_databasebackup_column_filesize}</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="databaseBackup.filesize" placeholder="${lang.db_databasebackup_column_filesize}"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">${lang.db_databasebackup_column_database}</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="databaseBackup.database" placeholder="${lang.db_databasebackup_column_database}"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">${lang.db_databasebackup_column_mode}</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="databaseBackup.mode" placeholder="${lang.db_databasebackup_column_mode}"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">${lang.db_databasebackup_column_backup_tables}</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="databaseBackup.backupTables" placeholder="${lang.db_databasebackup_column_backup_tables}"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">${lang.db_databasebackup_column_tables}</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="databaseBackup.tables" placeholder="${lang.db_databasebackup_column_tables}"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">${lang.db_databasebackup_column_records}</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="databaseBackup.records" placeholder="${lang.db_databasebackup_column_records}"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">${lang.db_databasebackup_column_remark}</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="databaseBackup.remark" placeholder="${lang.db_databasebackup_column_remark}"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">${lang.db_databasebackup_column_permanent}</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="databaseBackup.permanent" placeholder="${lang.db_databasebackup_column_permanent}"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">${lang.db_databasebackup_column_status}</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="databaseBackup.status" placeholder="${lang.db_databasebackup_column_status}"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">${lang.db_databasebackup_column_error}</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="databaseBackup.error" placeholder="${lang.db_databasebackup_column_error}"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">${lang.db_databasebackup_column_duration}</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="databaseBackup.duration" placeholder="${lang.db_databasebackup_column_duration}"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">${lang.db_databasebackup_column_total_tables}</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="databaseBackup.totalTables" placeholder="${lang.db_databasebackup_column_total_tables}"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">${lang.db_databasebackup_column_completed_tables}</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="databaseBackup.completedTables" placeholder="${lang.db_databasebackup_column_completed_tables}"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">${lang.db_databasebackup_column_current_table}</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="databaseBackup.currentTable" placeholder="${lang.db_databasebackup_column_current_table}"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">${lang.db_databasebackup_column_progress}</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="databaseBackup.progress" placeholder="${lang.db_databasebackup_column_progress}"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">${lang.db_databasebackup_column_create_time}</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="databaseBackup.createTime" placeholder="${lang.db_databasebackup_column_create_time}"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="${lang.sys_string_confirm}"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="${lang.sys_string_back}"/>
            </div>
        </form>
    </div>
</div>
<script src="${request.contextPath}/modules/db/databasebackup.js?_${.now?long}"></script>
</body>
</html>