<!DOCTYPE html>
<html>
<head>
    <title>${lang.lan_language_table_comment}</title>
	<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
            <#if shiro.hasPermission("lan:language:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;${lang.sys_string_add}</a>
			</#if>
			<#if shiro.hasPermission("lan:language:update")>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;${lang.sys_string_change}</a>
			</#if>
			<#if shiro.hasPermission("lan:language:delete")>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;${lang.sys_string_delete}</a>
			</#if>
            <#if shiro.hasPermission("lan:language:supportedlist")>
            <a class="btn btn-primary" style="float:right;" href="/?${spm.lan_supportedlanguage}">${lang.sys_string_language_config}</a>
            </#if>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-2 control-label">${lang.lan_language_column_name}</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="language.name" placeholder="${lang.lan_language_column_name}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">${lang.lan_language_column_zh_cn}</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="language.zhCn" placeholder="${lang.lan_language_column_zh_cn}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">${lang.lan_language_column_en_us}</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="language.enUs" placeholder="${lang.lan_language_column_en_us}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">${lang.lan_language_column_zh_hk}</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="language.zhHk" placeholder="${lang.lan_language_column_zh_hk}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">${lang.lan_language_column_ko_kr}</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="language.koKr" placeholder="${lang.lan_language_column_ko_kr}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">${lang.lan_language_column_ja_jp}</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="language.jaJp" placeholder="${lang.lan_language_column_ja_jp}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">${lang.lan_language_column_tt_ru}</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="language.ttRu" placeholder="${lang.lan_language_column_tt_ru}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">${lang.lan_language_column_fr_fr}</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="language.frFr" placeholder="${lang.lan_language_column_fr_fr}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">${lang.lan_language_column_de_de}</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="language.deDe" placeholder="${lang.lan_language_column_de_de}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">${lang.lan_language_column_vi_vn}</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="language.viVn" placeholder="${lang.lan_language_column_vi_vn}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">${lang.lan_language_column_th_th}</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="language.thTh" placeholder="${lang.lan_language_column_th_th}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">${lang.lan_language_column_ms_my}</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="language.msMy" placeholder="${lang.lan_language_column_ms_my}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">${lang.lan_language_column_id_id}</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="language.idId" placeholder="${lang.lan_language_column_id_id}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">${lang.lan_language_column_es_es}</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="language.esEs" placeholder="${lang.lan_language_column_es_es}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">${lang.lan_language_column_tr_tr}</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="language.trTr" placeholder="${lang.lan_language_column_tr_tr}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">${lang.lan_language_column_uk_uk}</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="language.ukUk" placeholder="${lang.lan_language_column_uk_uk}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">${lang.lan_language_column_pu_pt}</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="language.puPt" placeholder="${lang.lan_language_column_pu_pt}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">${lang.lan_language_column_pl_pl}</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="language.plPl" placeholder="${lang.lan_language_column_pl_pl}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">${lang.lan_language_column_mn_mn}</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="language.mnMn" placeholder="${lang.lan_language_column_mn_mn}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">${lang.lan_language_column_nb_no}</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="language.nbNo" placeholder="${lang.lan_language_column_nb_no}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">${lang.lan_language_column_it_it}</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="language.itIt" placeholder="${lang.lan_language_column_it_it}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">${lang.lan_language_column_he_il}</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="language.heIl" placeholder="${lang.lan_language_column_he_il}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">${lang.lan_language_column_el_gr}</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="language.elGr" placeholder="${lang.lan_language_column_el_gr}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">${lang.lan_language_column_fa_ir}</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="language.faIr" placeholder="${lang.lan_language_column_fa_ir}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">${lang.lan_language_column_ar_sa}</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="language.arSa" placeholder="${lang.lan_language_column_ar_sa}"/>
                        </div>
                    </div>
            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="${lang.sys_string_confirm}"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="${lang.sys_string_back}"/>
            </div>
        </form>
    </div>
</div>

<script src="${request.contextPath}/modules/lan/language.js?_${.now?long}"></script>
</body>
</html>