<!DOCTYPE html>
<html>
<head>
<title>${lang.sys_sysoss_table_comment}</title>
<#include "/header.html">
<script src="${request.contextPath}/statics/libs/ajaxupload.js"></script>
</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
		<div class="grid-btn">
			<a class="btn btn-danger" @click="addConfig"><i class="fa fa-sun-o"></i>&nbsp;${lang.sys_sysoss_string_cloud_storage_config}</a>
			<a class="btn btn-primary" id="upload"><i class="fa fa-plus"></i>&nbsp;${lang.sys_sysoss_table_comment}</a>
			<a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;${lang.sys_sysoss_string_delete}</a>
		</div>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>
    
    <div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal">
			<div class="form-group">
				<div class="col-sm-2 control-label">${lang.sys_sysoss_string_storage_type}</div>
				<label class="radio-inline">
					<input type="radio" name="type" v-model="config.type" value="1"/> ${lang.sys_sysoss_string_qiniu}
				</label>
				<label class="radio-inline">
					<input type="radio" name="type" v-model="config.type" value="2"/> ${lang.sys_sysoss_string_aliyun}
				</label>
				<label class="radio-inline">
					<input type="radio" name="type" v-model="config.type" value="3"/> ${lang.sys_sysoss_string_qcloud}
				</label>
			</div>
			<div v-show="config.type == 1">
				<div class="form-group">
					<div class="col-sm-2 control-label">&nbsp;</div>
					<p class="form-control-static"><a href="http://www.autumn.org.cn/open/qiniu.html" target="_blank">${lang.sys_sysoss_string_apply_qiniu_free_space}</a></p>
				</div>
				<div class="form-group">
					<div class="col-sm-2 control-label">${lang.sys_sysoss_string_domain}</div>
					<div class="col-sm-10">
					  <input type="text" class="form-control" v-model="config.qiniuDomain" placeholder="${lang.sys_sysoss_string_bing_qiniu_domain}"/>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-2 control-label">${lang.sys_sysoss_string_prefix}</div>
					<div class="col-sm-10">
						<input type="text" class="form-control" v-model="config.qiniuPrefix" placeholder="${lang.sys_sysoss_string_empty_default}"/>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-2 control-label">AccessKey</div>
					<div class="col-sm-10">
						<input type="text" class="form-control" v-model="config.qiniuAccessKey" placeholder="${lang.sys_sysoss_string_qiniu_access_key}"/>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-2 control-label">SecretKey</div>
					<div class="col-sm-10">
						<input type="text" class="form-control" v-model="config.qiniuSecretKey" placeholder="${lang.sys_sysoss_string_qiniu_secret_key}"/>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-2 control-label">${lang.sys_sysoss_string_space_name}</div>
					<div class="col-sm-10">
						<input type="text" class="form-control" v-model="config.qiniuBucketName" placeholder="${lang.sys_sysoss_string_qiniu_space_name}"/>
					</div>
				</div>
			</div>
			<div v-show="config.type == 2">
				<div class="form-group">
					<div class="col-sm-2 control-label">${lang.sys_sysoss_string_domain}</div>
					<div class="col-sm-10">
						<input type="text" class="form-control" v-model="config.aliyunDomain" placeholder="${lang.sys_sysoss_string_aliyun_domain}"/>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-2 control-label">${lang.sys_sysoss_string_prefix}</div>
					<div class="col-sm-10">
						<input type="text" class="form-control" v-model="config.aliyunPrefix" placeholder="${lang.sys_sysoss_string_empty_default}"/>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-2 control-label">EndPoint</div>
					<div class="col-sm-10">
						<input type="text" class="form-control" v-model="config.aliyunEndPoint" placeholder="${lang.sys_sysoss_string_aliyun_endpoint}"/>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-2 control-label">AccessKeyId</div>
					<div class="col-sm-10">
						<input type="text" class="form-control" v-model="config.aliyunAccessKeyId" placeholder="${lang.sys_sysoss_string_aliyun_access_key_id}"/>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-2 control-label">AccessKeySecret</div>
					<div class="col-sm-10">
						<input type="text" class="form-control" v-model="config.aliyunAccessKeySecret" placeholder="${lang.sys_sysoss_string_aliyun_access_key_secret}"/>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-2 control-label">BucketName</div>
					<div class="col-sm-10">
						<input type="text" class="form-control" v-model="config.aliyunBucketName" placeholder="${lang.sys_sysoss_string_aliyun_bucket_name}"/>
					</div>
				</div>
			</div>
			<div v-show="config.type == 3">
				<div class="form-group">
					<div class="col-sm-2 control-label">${lang.sys_sysoss_string_domain}</div>
					<div class="col-sm-10">
						<input type="text" class="form-control" v-model="config.qcloudDomain" placeholder="${lang.sys_sysoss_string_qcloud_domain}"/>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-2 control-label">${lang.sys_sysoss_string_prefix}</div>
					<div class="col-sm-10">
						<input type="text" class="form-control" v-model="config.qcloudPrefix" placeholder="${lang.sys_sysoss_string_empty_default}"/>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-2 control-label">AppId</div>
					<div class="col-sm-10">
						<input type="text" class="form-control" v-model="config.qcloudAppId" placeholder="${lang.sys_sysoss_string_qcloud_app_id}"/>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-2 control-label">SecretId</div>
					<div class="col-sm-10">
						<input type="text" class="form-control" v-model="config.qcloudSecretId" placeholder="${lang.sys_sysoss_string_qcloud_secret_id}"/>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-2 control-label">SecretKey</div>
					<div class="col-sm-10">
						<input type="text" class="form-control" v-model="config.qcloudSecretKey" placeholder="${lang.sys_sysoss_string_qcloud_secret_key}"/>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-2 control-label">BucketName</div>
					<div class="col-sm-10">
						<input type="text" class="form-control" v-model="config.qcloudBucketName" placeholder="${lang.sys_sysoss_string_qcloud_bucket_name}"/>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-2 control-label">${lang.sys_sysoss_string_qcloud_bucket_location}</div>
					<div class="col-sm-10">
						<input type="text" class="form-control" v-model="config.qcloudRegion" placeholder="${lang.sys_sysoss_string_qcloud_bucket_location_sample}"/>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label"></div> 
				<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="${lang.sys_string_confirm}"/>
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="${lang.sys_string_back}"/>
			</div>
		</form>
	</div>
</div>

<script src="${request.contextPath}/modules/oss/oss.js?_${.now?long}"></script>
</body>
</html>