<!DOCTYPE html>
<html>
<head>
    <title>${lang.sys_string_dictionary_management}</title>
	<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
            <div class="form-group col-sm-2">
                <input type="text" class="form-control" v-model="q.name" @keyup.enter="query" placeholder="字典名称">
            </div>
            <a class="btn btn-default" @click="query">${lang.sys_string_query}</a>
			<#if shiro.hasPermission("sys:dict:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;${lang.sys_string_add}</a>
			</#if>
			<#if shiro.hasPermission("sys:dict:update")>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;${lang.sys_string_change}</a>
			</#if>
			<#if shiro.hasPermission("sys:dict:delete")>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;${lang.sys_string_delete}</a>
			</#if>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-2 control-label">${lang.sys_string_dict_name}</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="dict.name" placeholder="${lang.sys_string_dict_name}"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">${lang.sys_string_dict_type}</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="dict.type" placeholder="${lang.sys_string_dict_type}"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">${lang.sys_string_dict_code}</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="dict.code" placeholder="${lang.sys_string_dict_code}"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">${lang.sys_string_dict_value}</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="dict.value" placeholder="${lang.sys_string_dict_value}"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">${lang.sys_string_order_number}</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="dict.orderNum" placeholder="${lang.sys_string_order_number}"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">${lang.sys_string_remark}</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="dict.remark" placeholder="${lang.sys_string_remark}"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="${lang.sys_string_confirm}"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="${lang.sys_string_back}"/>
            </div>
        </form>
    </div>
</div>

<script src="${request.contextPath}/modules/sys/dict.js?_${.now?long}"></script>
</body>
</html>