<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>统一登录系统</title>
    <link href="/statics/css/bootstrap.min.css" rel="stylesheet">
    <link href="/statics/css/signin.css" rel="stylesheet">
</head>

<body>
<div class="container form-margin-top">
    <form class="form-signin" action="/oauth2/login" method="POST">
        <h2 class="form-signin-heading" align="center">统一登录系统</h2>
        <input type="text" name="username" class="form-control form-margin-top" placeholder="账号" required autofocus>
        <input type="password" name="password" class="form-control" placeholder="密码" required>
        <div style="float: left; margin-bottom: 15px;margin-top: 5px">
            <input style="display:inline;" type="checkbox" name="rememberMe" checked>
            <div style="display: inline">&nbsp;记住我</div>
        </div>
        <h5 class="form-signin-heading" align="center" style="color: red">${error!""}</h5>
        <button class="btn btn-lg btn-primary btn-block" type="submit">登 录</button>
    </form>
</div>
<footer>
    <p>Powered by: autumn.org.cn</p>
    <p>email: <a href="mailto:autumn@autumn.org.cn">autumn@autumn.org.cn</a>.</p>
</footer>
</body>
</html>
